@tailwind base;
@tailwind components;

:root{
  @apply font-inter bg-basecolor
}


.hexagon {
  width: 30px;
  height: 34px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.minhexagon{
  width: 15.92px;
  height: 17.51px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.brandgradient{
  @apply bg-gradient-to-r from-brand-purple to-brand-red
}
.hero-bg{
  background: repeating-linear-gradient(90deg,transparent, 
  transparent 148px, #E1DCEB 150px, transparent 150px);
  background-position:-40px 0px
}
.widepadding{
  @apply px-6 sm:px-10 md:px-16 lg:px-32
}
.lowpadding{
  @apply px-4 sm:px-6 md:px-8 lg:px-10
}
.brand-blue-text{
  @apply text-base font-[700] text-brand-blue
}
.toggler{
  @apply bg-gray-600 h-[4px] w-full inline-block 
}

.gradienttext{
  @apply font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-brand-purple to-brand-red
}
.brand-button{
  @apply bg-gradient-to-r h-[42px] sm:h-[48px] items-center from-brand-purple to-brand-red  px-6 text-white whitespace-nowrap rounded-[5px]
}
.space-height{
  height: calc(100vh- 100px);
}
.hero-paragraph{
  @apply block mt-4 text-center leading-5  lg:text-left lg:text-lg xl:text-xl text-base sm:text-lg md:text-xl font-roboto text-brand-blue
}

.herotext{
  @apply leading-[88%] text-[40px] text-center lg:text-left sm:text-[62px] font-roboto md:text-[85px] lg:text-[62px] xl:text-[85px]
}
.gradient-circle{
  @apply rounded-full h-[34.2px] w-[34.2px] brandgradient p-[2px]
}
.section-header{
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-brand-purple to-brand-red xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-roboto
}

/* .item-text{
  @apply 
} */
@tailwind utilities;